body{
    font-family: 'Poppins', sans-serif;
    width: 90%;
    margin: auto;
    padding: 10px;
}
.content {
    width: 300px;
    height: 250px;
    border-radius: 5px;
}
.content .header {
    width: 300px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.content .header img{
    width: 50px;
    height: 50px;
    margin: 0 7px;
}
a{
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    color: #4654a3;
}
.content .body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}
.content .body img{
    width: 50px;
    height: 50px;
    margin: 0 7px;
    cursor: pointer;
}
.footer{
    text-align: center;
    font-size: 12px;
    padding: 10px 0;
}
